* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: rgb(238, 208, 22);
    display: flex;
    flex: 1;
    font-family: 'Microsoft YaHei', 'SimHei', Courier, monospace;
    font-size: large;
    justify-content: center;
    flex-direction: row;
}

svg {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-bottom: 1px;
}

.center {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.main {
    justify-content: center;
    flex: 1;
    border: 2px solid black;
    margin: 20px;
}

p,
.like-p,
h2 {
    margin: 1rem 2rem;
}

h2 {
    text-align: center;
    margin: 2rem;
}

small {
    display: block;
    margin: 0 2rem;
}

.block {
    margin: 2rem;
}

.block-outline {
    border: 2px solid black;
    min-height: 2rem;
    padding: 1rem;
}

button {
    display: block;
    border: 1px solid black;
    color: white;
    background-color: #222;
    font-size: 1rem;
    padding: 0.5rem;
}

button:active {
    color: #222;
    background-color: white;
}

ul {
    margin-left: 3rem;
    margin-right: 2rem;
}
li {
    margin: .4rem 0;
    font-size: 0.8rem;
}

.footer {}